<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/debug_network_security">
        <activity android:name="com.lazydoglab.zisee.ui.ArVideoTestActivity" android:exported="false" />
        <activity android:name="com.lazydoglab.zisee.ui.CallPreviewActivity" android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden" />
    </application>
</manifest>
